<style>

    /*nav*/
    body {
        background-color: #F8F8F8;
    }

    .bdd_details_nav {
        width: 100%;
        margin-bottom: 60px;
        min-height: 800px;
        overflow: hidden;
    }

    .bdd_details_value {
        width: 1200px;
        margin: 30px auto;
    }

    .bdd_details_value_hold {
        width: 890px;
        float: left;
        margin-bottom: 200px;

    }

    .bdd_details_value_left {
        width: 890px;
        height: 295px;
        margin-top: -20px;
        background-color: white;

    }



    .bdd_details_value_left_top {
        width: 800px;
        height: 210px;
        margin: 0 auto;
        margin-top: 30px;
    }

    .bdd_details_news {
        float: right;
    }

    .bdd_details_data {
        float: left;
    }

    .bdd_details_size {
        font-size: 24px;
        color: #4d3a3a;
        font-weight: 500;
        padding-top: 30px;

    }

    .bdd_br {
        width: 800px;
        height: 1px;
        background-color: #f0f0f0;
    }

    .bdd_details_one {
        font-size: 14px;
        color: #ccbebe;
    }

    .bdd_details_data_c {
        font-size: 16px;
        color: #ccbebe;
    }

    .bdd_details_html {
        width: 890px;
        height: 120px;
        margin-top: 40px;

    }

    .bdd_details_hs {
        width: 200px;
        height: 120px;
        border: 1px solid #ccc;
        position: absolute;

    }

    .bdd_details_x {
        font-size: 16px;
        color: #cea63f;
        position: relative;
        top: 47px;
        left: 0;
    }

    .bdd_details_img {
        position: relative;
        top: 24px;
        left: 71px;
    }

    .bdd_details_html_left {
        width: 200px;
        height: 120px;
        float: left;
        background-color: white;
    }

    .bdd_details_html_right {
        width: 410px;
        height: 120px;
        float: left;
        background-color: white;
    }

    .bdd_details_zf {
        margin-left: 39px;
    }

    .bdd_style_value {
        font-size: 16px;
        color: #cea63f;
        position: relative;
        top: 31px;
        left: 60px;
    }

    .bdd_style_value_one {
        top: 32px;
        left: 66px;
    }

    .bdd_style_img {
        position: relative;
        left: 77px;
        top: 23px;
        font-size: 12px;
        color: #ccbebe;
    }

    .bdd_details_span {
        position: relative;
        left: -38px;
        top: 7px;
        color: #ffffff;
    }

    .bdd_details_side {
        position: relative;
        left: 0;
        top: 0;
    }

    .bdd_details_ke {
        position: relative;
        left: -25px;
        top: 0;
    }

    .bdd_details_what {
        position: relative;
        color: #cea63f;
        font-size: 16px;
        left: 115px;
        top: 33px;
    }

    /*保证金*/
    .bdd_bond {
        width: 890px;
        height: 90px;
        float: left;
        margin-top: 10px;
        background-color: white;

    }

    .bdd_bond_pic {
        width: 90px;
        height: 90px;
        background-color: #ccbebe;
        color: white;
        float: left;
        font-size: 16px;
        position: absolute;
        border-radius: 5px 0 0 5px;

    }

    .bdd_bond_r {
        float: left;
        padding: 18px 0 0 110px;
    }

    .bdd_bond_l {
        float: right;
        padding: 18px 20px 0 0;
    }

    .bdd_bond_span {
        font-size: 16px;
        color: #ccbebe;
    }

    .bdd_bond_b {
        float: left;
        margin-top: 20px;
        margin-left: -218px;
    }

    .bdd_pic_po {
        position: relative;
        left: 20%;
        top: 40%;
    }

    .bdd_bond_fit {
        margin-top: 40px;
    }

    .bdd_follow_weibo {
        width: 115px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        font-size: 14px;
        color: #4d3a3a;
        margin-left: -20px;
        cursor: pointer;
        border: 1px solid  #ccc;
        letter-spacing: 1px;
    }

    .bdd_follow {
        float: left;

    }

    .bdd_follow_foll {
        margin-top: 30px;
        padding-left: 400px;
    }

    .bdd_follow_pyq {
        margin-top: 30px;
        padding-left: 10px;
    }

    .bdd_follow_zb {
        padding-left: 210px;
    }

    /*分析*/
    .bdd_details_header {
        width: 290px;
        height: 45px;
        /*margin-bottom: 45px;*/
        background-color: white;
        padding-left: 15px;
        border-radius: 5px;
        line-height: 45px;
        right:361px;
        margin-bottom: 100px;
        margin-top: 100px;
        display: inline;


    }

    .bdd_details_header_left {
        width: 4px;
        height: 12px;
        background-color: #cea63f;
        position: absolute;
        top:17px;
        left:8px;


    }

    .bdd_details_header_conter {
        /*margin-left: 5px;*/
        /*margin-top: -95px;*/
        color: #4d3a3a;
        font-size: 18px;
        width: 290px;
        height: 45px;

    }

    .bdd_details_js {
        width: 290px;
        margin-top: 10px;
        background-color: white;
        margin-left: -20px;


    }

    .bdd_details_js_two {
        font-size: 16px;
        color: #4d3a3a;
        font-family: Arial;
        font-weight: 700;
        padding-left:5px;

    }

    .bdd_details_js_new {
        font-size: 14px;
        color: #4d3a3a;
        padding: 0 0 10px 20px;
    }

    .bdd_details_messg {
        margin-top: 38px;
    }

    .bdd_deails_lis {
        margin-top: 40px;
    }

    .bdd_follow_info {
        width: 890px;
        margin-bottom: 150px;
        float: left;
        border: none;

    }

    .bdd_follow_info {
        width: 890px;
        height: auto;
       padding-top:50px;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom:10px;
    }

    .bdd_follow_left {
        width: 890px;
        height: 70px;
        background-color: white;
        float: left;
        padding: 20px 10px;
        font-size: 16px;
        color: #cea63f;
        margin-bottom: 20px;

    }

    /*多标段样式*/
    .bdd_stage {
        width: 890px;
        height: 211px;
        background-color: white;
        float: left;
        margin-top: 40px;
    }

    .bdd_stage_img {
        position: absolute;
        margin-left: 300px;
    }

    .bdd_stage_one {
        position: relative;
        left: 123px;
        top: 2px;
        font-size: 16px;
        color: #ffffff;
    }

    .bdd_stage_news {
        color: #ccbebe;
        font-size: 16px;
    }

    .bdd_stage_conter {
        width: 810px;
        height: 210px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .bdd_stage_top_left {
        float: left;
    }

    .bdd_stage_top_right {
        float: right;
        padding-top: 5px;

    }

    .bdd_stage_top {
        margin-top: 13px;
        font-size: 16px;
        color: #ccbebe;
    }

    .bdd_stage_color {
        font-size: 16px;
        color: #4d3a3a;
    }

    .bdd_stage_foll {
        color: #cea63f;
    }

    /*多标段按钮*/
    .bdd_stage_bottom {
        width: 890px;
        background-color: white;
        float: left;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .bdd_stage_bottom_top {
        width: 890px;
        margin-bottom: 140px;

    }

    .bdd_stage_bottom_list {
        width: 60px;
        height: 25px;
        background-color: #f0f0f0;
        border-radius: 5px;
        position: absolute;
        border: none;

    }

    .bdd_stage_bottom_span {
        position: relative;
        left: 25px;
        top: 2px;
        color: #4d3a3a;
        font-size: 16px;
    }

    .bdd_stage_bottom_news {
        float: left;
        width: 50px;
        overflow: auto;
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        padding-left: 8px;
        text-align: center;
        line-height: 20px;
        vertical-align: center;
    }

    .bdd_stage_bd {
        font-size: 16px;
        color: #4d3a3a;
        padding-left: 30px;
        margin-top: 15px;

    }

    .bdd_style_img_pic {
        margin-top: -8px;
    }

    .bdd_follow_info_one {
        width: 890px;
        margin: 0 auto;
        float: left;
        margin-top: 30px;
        padding: 30px 50px;
        cursor: pointer;
    }

    .bdd_style_img_a {
        text-align: center;
        margin-top: 18px;
    }

    .bdd_style_value_a {
        text-align: center;
        color: #cea63f;
        font-size: 16px;
        margin-top: 8px;
    }

    .bdd_details_nav {
        min-height: 600px;

    }

    .bdd_datails_value_a {

        margin-top: -50px;
        margin-bottom:30px;
    }
    .bdd_stage_bottom_list:hover{
        background-color: #cea63f;
        color: white;
    }
    .bdd_stage_bottom_list{
        color:#4d3a3a;
    }

    /**二维码**/
</style>
<!--nav-->
<div style="margin-top: 100px" class="bdd_details_nav" ng-controller="tenderDetailCtrl">
    <div class="bdd_details_nav" ng-if="mSize<2">
        <div class="bdd_details_value">
            <div class="bdd_details_value_hold">
                <div class="bdd_details_value_left bdd_datails_value_a">
                    <div class="bdd_details_value_left_top">
                        <div style="color: #4d3a3a" class="bdd_details_value_input bdd_details_size"
                             ng-bind="currentTender.title"></div>
                        <span style="margin-top: 13px"
                              class="bdd_details_value_input bdd_details_data bdd_details_m bdd_details_one">发布日期：{{currentTender.opendate}}</span>
                        <span style="margin-top: 13px"
                              class="bdd_details_value_input bdd_details_news bdd_details_m bdd_details_one"><a
                                href="{{currentTender.url}}">访问公告源</a></span><br/>

                        <div class="bdd_br"
                             style="margin-top:23px;width: 800px;height: 1px;background-color:#f0f0f0;"></div>
                        <span style="margin-top: 13px"
                              class="bdd_details_value_input bdd_details_data bdd_details_m bdd_details_data_c">项目地区：<span
                                style="color:#4d3a3a">{{currentTender.projDq}}</span></span>

                        <span style="margin-top: 13px"
                        class="bdd_details_value_input bdd_details_news bdd_details_m bdd_details_data_c">项目金额：<span
                        style="color: #4d3a3a">{{currentTender.projSum}}万元</span></span><br>
                        <br>

                        <div style="margin-top: 20px" class="bdd_details_value_input bdd_details_m bdd_details_data_c">
                            资质要求：<span style="color:#4d3a3a">{{currentTender.zzRank}}</span></div>
                        <div style="margin-top: 7px" class="bdd_details_value_input bdd_details_m bdd_details_data_c">
                            评标办法：<span style="color:#4d3a3a">{{currentTender.pbMode}}</span></div>
                    </div>
                </div>
                <div class="bdd_details_html">
                    <a ng-click="toTenderSayList(currentTender.id,0)">
                        <div class="bdd_details_html_left">

                            <div class="bdd_style_img " href="#"><img class="bdd_style_img_pic"
                                                                      src="../../../vendor/images/zb_icon_xggg.png"
                                                                      alt=""/></div>
                            <div class="bdd_style_value bdd_style_value_one">
                                相关公告{{relNoticeCount?relNoticeCount:0}}个
                            </div>

                        </div>
                    </a>

                    <div class="bdd_details_html_left bdd_details_zf">
                        <a class="bdd_style_img" ng-click="toTenderSayList(currentTender.id,1)"><img
                                style="margin-top: -6px" src="../../../vendor/images/zb_icon_zbwj.png"
                                alt=""></a>

                        <div class="bdd_style_value">招标文件{{fileCount==null?0:fileCount}}个</div>
                    </div>
                    <div class="bdd_details_html_right bdd_details_zf">
                        <a class="bdd_style_img" href="#"><img src="../../../vendor/images/zb_icon_time.png"
                                                               alt=""><span
                                class="bdd_details_span" style="font-size:24px">00</span><span
                                class="bdd_details_ke">时</span></a>
                        <a class="bdd_style_img" href="#"><img src="../../../vendor/images/zb_icon_time.png"
                                                               alt=""><span
                                class="bdd_details_span" style="font-size:24px">00</span><span
                                class="bdd_details_ke">分</span></a>
                        <a class="bdd_style_img" href="#"><img src="../../../vendor/images/zb_icon_time.png"
                                                               alt=""><span
                                class="bdd_details_span" style="font-size:24px">00</span><span
                                class="bdd_details_ke">秒</span></a>

                        <div class="bdd_details_what">离报名截止时间还剩</div>
                    </div>
                    <div class="bdd_bond bdd_bond_fit"
                         ng-show="currentTender.tbAssureEndDate||currentTender.tbAssureEndTime">
                        <div class="bdd_bond_pic"><span class="bdd_pic_po">保证金</span></div>
                        <div style="float: right;width:760px;line-height:60px;font-size: 14px;color: #ccbebe;margin-left: 20px;margin-right: 20px;"
                             class="bdd_bond_right">
                            <span style="float: left">保证金截止时间：{{currentTender.tbAssureEndDate}}&nbsp;{{currentTender.tbAssureEndTime}}</span>
                            <span style="float: right">保证金金额：{{currentTender.tbAssureSum}}&nbsp;{{currentTender.tbAssureSum?"万元":""}}</span>
                        </div>
                        <br>
                        <br>
                    </div>
                    <div class="bdd_bond"
                         ng-show="currentTender.bmEndDate||currentTender.bmEndTime">
                        <div class="bdd_bond_pic"><span class="bdd_pic_po">报名</span></div>
                        <div style="float: right;width:760px;line-height:30px;margin-top:15px;font-size: 14px;color: #ccbebe;margin-left: 20px;margin-right: 20px;"
                             class="bdd_bond_right">
                            <div>
                                报名截止时间：{{currentTender.bmEndDate}}&nbsp;{{currentTender.bmEndTime}}
                            </div>
                            <div> 报名地址：{{currentTender.bmSite}}</div>

                        </div>
                    </div>
                    <div class="bdd_bond"
                         ng-show="currentTender.kbDate||currentTender.kbTime">
                        <div class="bdd_bond_pic"><span class="bdd_pic_po">开标</span></div>
                        <div style="float: right;width:760px;line-height:60px;font-size: 14px;color: #ccbebe;margin-left: 20px;margin-right: 20px;"
                             class="bdd_bond_right">
                            <span style="float: left">开标截止时间：{{currentTender.kbDate}}&nbsp;{{currentTender.kbTime}}</span>
                            <span style="float: right">开标人员：{{currentTender.kbStaffAsk}}</span></div>
                        <div style="float: right;width:760px;line-height:10px;font-size: 14px;color: #ccbebe;margin-left: 20px;margin-right: 20px;"
                             class="bdd_bond_right">
                            <div>报名地址：{{currentTender.kbSite}}</div>
                        </div>
                    </div>
                    <div class="bdd_follow bdd_follow_foll">

                        <img src="../../../vendor/images/zb_btn_follow.png" style="cursor: pointer" alt="" ng-show="!currentTender.collected" ng-click="addConcern('{{currentTender.id}}','{{currentTender.type}}')">
                        <img src="../../../vendor/images/zb_btn_follow_pre.png" style="cursor: pointer" alt="" ng-show="currentTender.collected" ng-click="cancelConcern('{{currentTender.id}}')">
                    </div>
                    <div class="bdd_follow bdd_follow_pyq bdd_follow_zb" ng-click="share('xinlang')" style=" cursor: pointer;"><img
                            src="../../../vendor/images/zb_icon_weibo.png" alt="">
                    </div>
                    <div class="bdd_follow bdd_follow_pyq"  style=" cursor: pointer;" ng-click="share('wechat')">
                        <img src="../../../vendor/images/zb_icon_wechat.png" alt="">
                    </div>
                    <div class="bdd_follow bdd_follow_pyq"  style=" cursor: pointer;" ng-click="share('qq')"><img src="../../../vendor/images/zb_icon_qq.png" alt="">
                    </div>
                    <!--<div class="bdd_follow bdd_follow_pyq"  style=" cursor: pointer;" ><img src="../../../vendor/images/zb_icon_pyq.png" alt="">-->
                    <!--</div>-->
                    <!--<div class="bdd_follow "><div class="bdd_follow_weibo">分享到微博</div></div>-->
                    <div class="bdd_follow " ><img class="bdd_follow_weibo" style="width: 100px;height: 100px;" src="{{imgCodeUrl}}" ng-show="isShow"></div>
                </div>
                <div class="bdd_follow_info" id="bdd_follow_info_two" style="background-color: white">
                </div>

                <!--<div class="bdd_follow_left">上一篇：&nbsp;&nbsp;湖南省建筑业协会三届四次常务理事会暨三届五次。</div>-->
                <!--<div class="bdd_follow_left">上一篇：&nbsp;&nbsp;湖南省建筑业协会三届四次常务理事会暨三届五次。</div>-->

            <div class="bdd_details_value_right">
                <div class="bdd_details_header">
                    <div class="bdd_details_header_left"></div>
                    <div class="bdd_details_header_conter"><span style="color: #4d3a3a;font-size: 18px;">&nbsp;符合资质企业</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="cursor: default" ui-sref="TendList({id:currentTender.id})"><span style="color: #ccbebe;font-size: 16px">{{(copanyResultArr==null||copanyResultArr.length==0)?'0条':'更多'}}</span><img src="../../../vendor/images/icon_arrow_right.png" alt=""></a></div>
                </div>
                <div class="bdd_details_js" ng-repeat="item in copanyResultArr | limitTo:10">
                    <a href="#/companydetail?comId={{item.comId}}">
                    <div class="bdd_details_js_two"><img src="../../../vendor/images/logo_default_48px.png" alt="">{{item.comName}}</div>
                    <div class="bdd_details_js_new bdd_details_messg">法人：{{item.legalPerson}}</div>
                    <div class="bdd_details_js_new">注册资本：{{item.regisCapital}}</div>
                    <div class="bdd_details_js_new">经济类型：{{item.subsist}}</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="mSize>1">
        <div class="bdd_details_value">
            <div class="bdd_details_value_hold_me">
                <div class="bdd_details_value_left">
                    <div class="bdd_details_value_left_top">
                        <div class="bdd_details_value_input bdd_details_size" ng-bind="currentTender.title"></div>
                        <span style="margin-top: 13px"
                              class="bdd_details_value_input bdd_details_data bdd_details_m bdd_details_one">发布日期：{{currentTender.opendate}}</span>
                        <span style="margin-top: 13px"
                              class="bdd_details_value_input bdd_details_news bdd_details_m bdd_details_one"><a
                                href="{{currentTender.url}}">访问公告源</a></span><br/>

                        <div class="bdd_br"
                             style="margin-top:23px;width: 800px;height: 1px;background-color:#f0f0f0;"></div>
                        <span style="margin-top: 13px"
                              class="bdd_details_value_input bdd_details_data bdd_details_m bdd_details_data_c">项目地区：<span
                                style="color:#4d3a3a">{{currentTender.projDq}}</span></span><br>
                        <!--<span style="margin-top: 13px"-->
                        <!--class="bdd_details_value_input bdd_details_news bdd_details_m bdd_details_data_c">项目金额：<span-->
                        <!--style="color: #4d3a3a">{{currentTender.projSum}}元</span></span><br>-->

                        <div style="margin-top: 20px" class="bdd_details_value_input bdd_details_m bdd_details_data_c">
                            报名地点：<span style="color:#4d3a3a">{{currentTender.bmSite}}</span></div>
                        <div style="margin-top: 7px" class="bdd_details_value_input bdd_details_m bdd_details_data_c">
                            开标地点：<span style="color:#4d3a3a">{{currentTender.kbSite}}</span></div>
                    </div>
                </div>
                <div class="bdd_details_html">
                    <div class="bdd_details_html_left">
                        <a ng-click="toTenderSayList(currentTender.id,0)">
                            <div class="bdd_style_img_a "><img class="bdd_style_img_pic_c"
                                                               src="../../../vendor/images/zb_icon_xggg.png" alt=""/>
                            </div>
                            <div class="bdd_style_value_a">相关公告 {{relNoticeCount==null?0:relNoticeCount}}个</div>
                        </a>
                    </div>
                    <div class="bdd_details_html_left bdd_details_zf">
                        <a ng-click="toTenderSayList(currentTender.id,1)">
                            <div class="bdd_style_img " href="#"><img class="bdd_style_img_pic"
                                                                      src="../../../vendor/images/zb_icon_zbwj.png"
                                                                      alt=""></div>
                            <div class="bdd_style_value" href="#">招标文件{{fileCount==null?0:fileCount}}个</div>
                        </a>
                    </div>
                    <div class="bdd_details_html_right bdd_details_zf">
                        <a class="bdd_style_img" href="#"><img src="../../../vendor/images/zb_icon_time.png"
                                                               alt=""><span class="bdd_details_span"
                                                                            style="font-size:24px">00</span><span
                                class="bdd_details_ke">时</span></a>
                        <a class="bdd_style_img" href="#"><img src="../../../vendor/images/zb_icon_time.png"
                                                               alt=""><span class="bdd_details_span"
                                                                            style="font-size:24px">00</span><span
                                class="bdd_details_ke">分</span></a>
                        <a class="bdd_style_img" href="#"><img src="../../../vendor/images/zb_icon_time.png"
                                                               alt=""><span class="bdd_details_span"
                                                                            style="font-size:24px">00</span><span
                                class="bdd_details_ke">秒</span></a>

                        <div class="bdd_details_what" href="#">离开标截止时间还剩</div>
                    </div>
                    <div class="bdd_stage">
                        <div class="bdd_stage_img"><span class="bdd_stage_one">{{currentNum}}标段</span><img
                                src="../../../vendor/images/zb_lable_dbd.png" alt=""></div>
                        <div class="bdd_stage_conter">
                            <div class="bdd_stage_top">
                                <div class="bdd_stage_top_left">报名截止时间：<span class="bdd_stage_color">{{currentTender.bmEndDate}}&nbsp;{{currentTender.bmEndTime}}</span>
                                </div>
                                <div class="bdd_stage_top_right">项目金额：<span class="bdd_stage_color">{{currentTender.projSum}}{{currentTender.projSum==null?"":"万元"}}</span>
                                </div>
                            </div>
                            <br>

                            <div class="bdd_stage_top">
                                <div class="bdd_stage_top_left">保证金：<span class="bdd_stage_color">{{currentTender.tbAssureSum}}&nbsp;{{currentTender.tbAssureSum==null?"":"万元"}}</span>
                                </div>
                                <div class="bdd_stage_top_right">保证金截止时间：<span class="bdd_stage_color">{{currentTender.tbAssureEndDate}}&nbsp;{{currentTender.tbAssureEndTime}}</span>
                                </div>
                            </div>
                            <br>

                            <div class="bdd_stage_top">
                                <div class="bdd_stage_top_left">投标截止时间：<span class="bdd_stage_color">{{currentTender.kbDate}}&nbsp;{{currentTender.kbTime}}</span>
                                </div>
                                <div class="bdd_stage_top_right">评标办法：<span
                                        class="bdd_stage_foll">{{currentTender.pbMode}}</span>
                                </div>
                            </div>
                            <br>

                            <div class="bdd_stage_top">
                                <div class="bdd_stage_top_left">资质要求：<span
                                        class="bdd_stage_foll">{{currentTender.zzRank}}</span>
                                </div>
                            </div>
                            <br>

                            <div class="bdd_stage_top">
                                <div class="bdd_stage_top_left">开标人员：<span
                                        class="bdd_stage_color">{{currentTender.kbStaffAsk}}</span>
                                </div>

                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="bdd_stage_bottom">
                        <div class="bdd_stage_bd">共&nbsp;<span style="color: #cea63f">{{bdSize?bdSize:0}}</span>&nbsp;个标段</div>
                        <div class="bdd_stage_bottom_top">
                            <li class="bdd_stage_bottom_news bdd_stage_bottom_col" ng-repeat="item in dataArrayList"
                                ng-click="toCurrentTender($index)"><a class="bdd_stage_bottom_list"
                                                                          type="button" ><div class="bdd_stage_bottom_span_a"> {{$index+1}}</div></a>
                            </li>
                        </div>
                    </div>
                    <div style="cursor: pointer" class="bdd_follow bdd_follow_foll">
                        <img src="../../../vendor/images/zb_btn_follow.png" style="cursor: pointer" alt="" ng-show="!currentTender.collected" ng-click="addConcern('{{currentTender.id}}','{{currentTender.type}}')">
                        <img src="../../../vendor/images/zb_btn_follow_pre.png" style="cursor: pointer" alt="" ng-show="currentTender.collected" ng-click="cancelConcern('{{currentTender.id}}')">
                    </div>
                    <div class="bdd_follow bdd_follow_pyq bdd_follow_zb bdd_follow_zb_span" ng-click="share('xinlang')" style=" cursor: pointer;"><img
                            src="../../../vendor/images/zb_icon_weibo.png" alt=""></div>
                    <div class="bdd_follow bdd_follow_pyq" ng-click="share('wechat')" style=" cursor: pointer;"><img src="../../../vendor/images/zb_icon_wechat.png" alt="">
                    </div>
                    <div class="bdd_follow bdd_follow_pyq" ng-click="share('qq')" style=" cursor: pointer;"><img src="../../../vendor/images/zb_icon_qq.png" alt="">
                    </div>
                    <!--<div class="bdd_follow bdd_follow_pyq"><img src="../../../vendor/images/zb_icon_pyq.png" alt="">-->
                    </div>
                    <!--<div class="bdd_follow "><div class="bdd_follow_weibo">分享到微博</div></div>-->
                <div class="bdd_follow " ><img  class="bdd_follow_weibo" style="width: 100px;height: 100px;margin-top: 64px;margin-left: -105px;" src="{{imgCodeUrl}}" ng-show="isShow"></div>
                </div>
                <div class="bdd_follow_info_one" id="bdd_follow_info_one" style="background-color: white">

                </div>
                <!--<div class="bdd_follow_left">上一篇：&nbsp;&nbsp;湖南省建筑业协会三届四次常务理事会暨三届五次。</div>-->
                <!--<div class="bdd_follow_left">上一篇：&nbsp;&nbsp;湖南省建筑业协会三届四次常务理事会暨三届五次。</div>-->
            </div>
            <div class="bdd_details_value_right">




        </div>
    </div>
</div>
</div>