<!--头部-->
<style>
    body {
        background-color: #f8f8f8;

    }

    body::-webkit-scrollbar {
        display: none;
    }

    .bdd_area_left > div {
        display: inline-block;
    }

    .bdd_company_body {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }


    a:hover {
        color: blue;
    }



    .bdd_font_color > span {
        cursor: default;
    }



    .bdd_hold_top > span {
        width: 800px;
    }

    .bdd_company_body{
        margin-top: 150px;
    }
    .text-inline{
        display: inline-block;
        vertical-align: top;
    }
   .bdd_win_conter_left_b{
       min-height: 300px;
   }
   .bdd_adver_header_b{
       width: 1200px;
       margin: 0 auto;
   }
    .bdd_win_conter_list_b{
        text-align: left;
    }
    .bdd_win_conter_conter_b{
        margin-left: 100px;
    }
    .bdd_company_body{
        min-height: 620px;
    }
</style>
<div class="bdd_company_body" ng-controller="TendListDetailCtrl">
    <div class="bdd_adver_b">
        <div id="bdd_adver_header_b" class="bdd_adver_header_b">
            <div class="bdd_win_conter_b bdd_win_conter_list_b" style="cursor: default">
                <div class="text-inline bdd_win_conter_left_b">
                    <img ng-if="!company.logo" style="width: 260px;height: 260px;" src="../../../vendor/images/logo_default.png" alt="">
                    <img ng-if="company.logo"  style="width: 260px;height: 260px;" src="{{company.logo}}" alt="">
                </div>
                <div class="text-inline bdd_win_conter_conter_b">
                    <a href="#/companydetail?comId={{company.comId}}">
                        <div class="bdd_win_conter_header" ng-bind="company.comName"></div>
                    </a>

                    <div class="bdd_win_conter_d_b">
                        <span class="bdd_win_conter_span_a" ng-bind="company.subsist|limitTo:2"></span>
                    </div>
                    <br>

                    <div class="bdd_hold_top_b">法定代表人：<span ng-bind="company.legalPerson"></span>
                    </div>


                    <div class="bdd_hold_top_b">公司性质：<span ng-bind="company.economicType"></span>


                    <div class="bdd_hold_top_b">许可证：<span ng-bind="company.certNo"></span>
                    </div>

                    <div class="bdd_hold_top_b">注册资本：<span ng-bind="company.regisCapital"></span></div>
                    <!--<div class="bdd_hold_top bdd_hold_text">注册时间：<span ng-bind="company.certDate"></span></div>-->

                    <div class="bdd_hold_top_b">注册日期：<span ng-bind="company.certDate"></span></div>
                    <!--<div class="bdd_hold_top bdd_hold_text">注册时间：<span ng-bind="company.certDate"></span></div>-->


                    <div class="bdd_hold_top_b">注册地址：<span ng-bind="company.regisAddress"></span></div>
                    <div class="bdd_hold_top_b">详细地址：<span ng-bind="company.comAddress"></span></div>
                </div>
            </div>
        </div>

    </div>
</div>
