<style>
    /*nav*/
    body{
        background-color: #F8F8F8;
    }
    .bdd_details_nav{
        width: 100%;
        margin-bottom:140px;
    }
    .bdd_details_value{
        width:1200px;
        margin-bottom:140px;
        margin:0 auto;
    }
    .bdd_details_value_hold{
        width: 890px;
        margin-bottom:140px;
        float:left;

    }
    .bdd_details_value_left{
        width: 890px;
        height:240px;
        margin-top:-30px;
        background-color:white;

    }
    .bdd_details_value_right{

        top:110px;
        left: 1270px;
        width: 290px;
        margin-bottom:140px;
        margin-left:200px;
        overflow: hidden;

    }
    .bdd_details_value_left_top{
        width: 800px;
        height:210px;
        margin: 0 auto;
        margin-top:30px;
    }
    .bdd_details_news{
        float: right;
    }
    .bdd_details_data{
        float: left;
    }

    .bdd_details_size{
        font-size: 24px;
        color: #4d3a3a;
        font-weight: 700;
        padding-top:30px;
    }
    .bdd_br{
        width: 800px;
        height: 1px;
        background-color: #f0f0f0;
    }
    .bdd_details_one{
        font-size: 14px;
        color:#ccbebe;
    }
    .bdd_details_data_c{
        font-size: 16px;
        color: #ccbebe;
    }

    .bdd_follow_weibo{
        width: 115px;
        height:25px;
        text-align: center;
        font-size: 14px;
        color: #4d3a3a;
        margin-left:-20px;
    }
    .bdd_follow{
        float: left;
    }
    .bdd_follow_foll{
        margin-top:30px;
        padding-left:400px;
    }
    .bdd_follow_pyq{
        margin-top:30px;
        padding-left:10px;
    }
    .bdd_follow_zb{
        padding-left:210px;
    }

    /*分析*/
    .bdd_details_header{
        width: 290px;
        height:30px;
        line-height: 30px;
        background-color: white;
        margin-left:10px;




    }
    .bdd_details_header_left{
        width: 5px;
        height: 14px;
        background-color: #cea63f;
        float: left;
        margin-top:8px;
        margin-left: 5px;


    }
    .bdd_details_header_conter{
        float: left;
        margin-left:5px;
        margin-top:20px;
        color: #4d3a3a;
        font-size: 18px;
    }
    .bdd_details_js{
        width: 290px;
        height: 180px;
        margin-top:10px;
        background-color: white;
        margin-left: 10px;

    }
    .bdd_details_js_two{
        font-size: 16px;
        color: #4d3a3a;
        padding:18px 0 0 40px;
        font-family: Arial;
        font-weight: 700;

    }
    .bdd_details_js_new{
        font-size: 14px;
        color: #4d3a3a;
        padding: 0 0 10px 20px;
    }
    .bdd_details_messg{
        margin-top:50px;
    }
    .bdd_deails_lis{
        margin-top:40px;
    }
    .bdd_follow_info{
        width: 890px;
        min-height: 800px;
        border: 1px solid #ccc;
        float: left;
    }
    .bdd_follow_info{
        margin-top:70px;
        padding: 150px;
        height: auto;


    }
    .bdd_follow_left{
        width: 890px;
        height: 70px;
        background-color:white;
        margin-top:20px;
        float: left;
        padding:20px 10px;
        font-size: 16px;
        color: #cea63f;

    }
    /*多标段样式*/
    .bdd_stage{
        width: 890px;
        height:255px;
        background-color: white;
        float: left;
        margin-top:40px;
        margin-bottom:140px;
    }
    .bdd_stage_img{
        position: absolute;
        margin-left:300px;
    }
    .bdd_stage_one{
        position: relative;
        left:123px;
        top:2px;
        font-size: 16px;
        color: #ffffff;
    }



    .bdd_stage_conter{
        width: 810px;
        height:210px;
        margin:  0 auto;
        margin-top:40px;
    }

    .bdd_stage_top_left{
        float: left;
    }
    .bdd_stage_top_right{
        float: right;

    }
    .bdd_stage_top{
        margin-top:13px;
        font-size: 16px;
        color: #ccbebe;
    }
    .bdd_stage_color{
        font-size: 16px;
        color: #4d3a3a;
    }
    .bdd_stage_foll{
        color: #cea63f;
    }
    /*多标段按钮*/
    .bdd_stage_bottom{
        width: 890px;
        background-color: white;
        float: left;
        margin-top:-115px;
        margin-left:-40px;
        padding-bottom: 40px;
    }
    .bdd_stage_bottom_top{
        width: 890px;
        height:70px;
        margin: 10px auto 0px auto;

    }
    .bdd_stage_bottom_list{
        width:60px;
        height: 25px;
        background-color: #f0f0f0;
        border-radius: 5px;
        position: absolute;
        border: 0;

    }
    .bdd_stage_bottom_span{
        position: relative;
        left: 25px;
        top: 2px;
        color: #4d3a3a;
        font-size: 16px;
    }
    .bdd_stage_bottom_news{
       float: left;
        padding: 17px 32px;
        text-align: center;


    }
    .bdd_stage_bd{
        font-size: 16px;
        color: #ccbebe;
        padding-left:30px;
        margin-top:15px;

    }

    .bdd_stage{
        width: 890px;
        height:255px;
        background-color: white;
        float: left;
        margin-top:130px;
        margin-bottom:140px;
        margin-left:-40px;
    }
    .bdd_follow_zb{
        padding-left:139px;
    }
    .bdd_details_nav{
        min-height: 800px;
        overflow: hidden;
        margin-top: 110px;
    }
    .bdd_details_nav_top{
        margin-top: 110px;
    }
    .bdd_details_value_input:hover{
        color: #cea63f;
        cursor: pointer;
    }
    .bdd_stage_bottom_list {
        width: 60px;
        height: 25px;
        background-color: #f0f0f0;
        border-radius: 5px;
        position: absolute;
        border: none;
        padding-top: 4px;
        cursor: pointer;

    }
    .bdd_stage_bottom_list:hover{
        background-color: #cea63f;
        color: white;
    }
    .bdd_stage_bottom_list{
        color:#4d3a3a;
    }
    .bdd_details_hedivr_conter{
        font-size: 18px;
        color: #4d3a3a;
        margin-left:15px;
    }
</style>

<!--nav-->
<div class="bdd_details_nav bdd_details_nav_top" ng-controller="WinbdingCtrl">
    <div class="bdd_details_value">
        <div class="bdd_details_value_hold">
            <div class="bdd_details_value_left">
                <div class="bdd_details_value_left_top">
                    <div class="bdd_details_value_input bdd_details_size">{{currentTender.title}}</div>
                    <span style="margin-top: 13px" class="bdd_details_value_input bdd_details_data bdd_details_m bdd_details_one">发布时间：{{currentTender.opendate}}</span>
                    <span style="margin-top: 13px" class="bdd_details_value_input bdd_details_news bdd_details_m bdd_details_one"><a href="{{currentTender.url}}">访问公告源</a></span><br/>
                    <div class="bdd_br" style="margin-top:23px;width: 800px;height: 1px;background-color:#f0f0f0;"></div>
                    <a style="margin-top: 13px" class="bdd_details_value_input bdd_details_data bdd_details_m bdd_details_data_c"  ng-click="toTenderSayList(currentTender.id,2)">相关公告：{{relNoticeCount==null?0:relNoticeCount}}个<span style="color:#4d3a3a"></span></a>
                    <span style="margin-top: 13px" class="bdd_details_value_input bdd_details_news bdd_details_m bdd_details_data_c">  > </span><br>

                    <div class="bdd_stage">
                        <div class="bdd_stage_img"><span class="bdd_stage_one">{{(dataArrayList!=null && dataArrayList.length>1)?currentNum+'标段':'详情'}}</span><img src="../../../vendor/images/zb_lable_dbd.png" alt=""></div>
                        <div class="bdd_stage_conter">
                            <div class="bdd_stage_top">
                                <div class="bdd_stage_top_left">项目地区：<span class="bdd_stage_color">{{currentTender.projDq}}</span></div>
                                <div class="bdd_stage_top_right">项目金额：<span class="bdd_stage_color">{{currentTender.projSum}}{{currentTender.projSum?'万元':''}}</span></div>
                            </div><br>

                            <div class="bdd_stage_top">
                                <div class="bdd_stage_top_left">评标办法：<span class="bdd_stage_foll">{{currentTender.pbMode}}</span></div>
                            </div><br>
                            <div class="bdd_stage_top">
                               <div  ng-if="currentTender.oneName && currentTender.oneName!=''">
                                   <div><img src="../../../vendor/images/bx_zb_icon_Candidate1.png" alt="">&nbsp;&nbsp; {{currentTender.oneName}}<span style="margin-left: 40px;">项目金额：</span> <span>{{currentTender.oneOffer}}{{currentTender.oneOffer?'万元':''}}</span></div>


                               </div>
                                <div ng-if="currentTender.twoName && currentTender.twoName!=''">
                                    <div><img src="../../../vendor/images/bx_zb_icon_Candidate2.png" alt="">&nbsp;&nbsp; {{currentTender.twoName}}<span style="margin-left: 40px;">项目金额：</span> <span>{{currentTender.twoOffer}}{{currentTender.twoOffer?'万元':''}}</span></div>


                                </div>
                                <div  ng-if="currentTender.threeName!=null && currentTender.threeName!=''">
                                    <div><img src="../../../vendor/images/bx_zb_icon_Candidate3.png" alt="">&nbsp;&nbsp; {{currentTender.threeName}}<span style="margin-left: 40px;">项目金额：</span><span>{{currentTender.threeOffer}}{{currentTender.threeOffer?'万元':''}}</span></div>

                                </div>
                            </div><br>
                        </div>
                    </div>
                    <div class="bdd_stage_bottom" ng-show="dataArrayList!=null && dataArrayList.length>1">
                        <div class="bdd_stage_bd">共<span style="color: #cea63f">{{bdSize}}</span>个标段</div>
                        <div class="bdd_stage_bottom_top">

                            <li class="bdd_stage_bottom_news bdd_stage_bottom_col" ng-repeat="item in dataArrayList"
                                ng-click="toCurrentTender($index)"><a class="bdd_stage_bottom_list"
                                                                      type="button" ><div class="bdd_stage_bottom_span_a"> {{$index+1}}</div></a>
                            </li>

                        </div>
                    </div>

                    <div class="bdd_follow bdd_follow_foll">
                        <img src="../../../vendor/images/zb_btn_follow.png"  style="cursor: pointer"  alt="" ng-show="!currentTender.collected" ng-click="addConcernWin(currentTender.id,currentTender.type)">
                        <img src="../../../vendor/images/zb_btn_follow_pre.png"  style="cursor: pointer"  alt="" ng-show="currentTender.collected" ng-click="cancelConcernWin(currentTender.id)">
                    </div>
                    <div class="bdd_follow bdd_follow_pyq bdd_follow_zb bdd_follow_zb_span" style=" cursor: pointer;" ng-click="share('xinlang')"><img src="../../../vendor/images/zb_icon_weibo.png" alt=""></div>
                    <div class="bdd_follow bdd_follow_pyq" style=" cursor: pointer;" ng-click="share('wechat')">
                        <img src="../../../vendor/images/zb_icon_wechat.png" alt="">
                    </div>
                    <div class="bdd_follow bdd_follow_pyq" style=" cursor: pointer;" ng-click="share('qq')"><img src="../../../vendor/images/zb_icon_qq.png" alt=""></div>
                    <!--<div class="bdd_follow bdd_follow_pyq" style=" cursor: pointer;"><img src="../../../vendor/images/zb_icon_pyq.png" alt=""></div>-->
                    <!--<div class="bdd_follow "><input class="bdd_follow_weibo" type="text" value="分享到微博"></div>-->
                    <!--<div class="bdd_follow " ><img style="width: 150px;height: 150px" src="{{imgCodeUrlWin}}" ng-show="isShow"></div>-->
                    <div class="bdd_follow "><img class="bdd_follow_weibo" style="width: 100px;height: 100px" src="{{imgCodeUrlWin}}" ng-show="isShow"></div>
                </div>
                <div class="bdd_follow_info" id="bdd_follow_info_one" style="background-color: white">
                    原文详情
                </div>
                <!--<div class="bdd_follow_left">上一篇：&nbsp;&nbsp;湖南省建筑业协会三届四次常务理事会暨三届五次。</div>-->
                <!--<div class="bdd_follow_left">上一篇：&nbsp;&nbsp;湖南省建筑业协会三届四次常务理事会暨三届五次。</div>-->
            </div>

        </div>
    </div>
    <div class="bdd_details_value_right">
        <div class="bdd_details_header">
            <div class="bdd_details_header_left"></div>
            <div class="bdd_details_hedivr_conter">候选人</div>
        </div>

        <div class="bdd_details_js" ng-if="currentTender.oneName">
            <div class="bdd_details_js_two">{{currentTender.oneName}}</div>
            <div class="bdd_details_js_new">法人：{{currentTender.legalPerson}}</div>
            <div class="bdd_details_js_new">注册资本：{{currentTender.regisCapital}}</div>
            <div class="bdd_details_js_new">经济类型：{{currentTender.subsist}}</div>
        </div>
        <div class="bdd_details_js" ng-if="currentTender.twoName">
            <div class="bdd_details_js_two">{{currentTender.twoName}}</div>
            <div class="bdd_details_js_new">法人：{{currentTender.legalPerson}}</div>
            <div class="bdd_details_js_new">注册资本：{{currentTender.regisCapital}}</div>
            <div class="bdd_details_js_new">经济类型：{{currentTender.subsist}}</div>
        </div>
        <div class="bdd_details_js" ng-if="currentTender.threeName">
            <div class="bdd_details_js_two">{{currentTender.threeName}}</div>
            <div class="bdd_details_js_new">法人：{{currentTender.legalPerson}}</div>
            <div class="bdd_details_js_new">注册资本：{{currentTender.regisCapital}}</div>
            <div class="bdd_details_js_new">经济类型：{{currentTender.subsist}}</div>
        </div>
    </div>
</div>


