<link rel="stylesheet" href="../../../vendor/css/ioinc.min.css"/>
<style>
    .bar-light-div {
        background-size: 0px;
        border-bottom: 1px solid #1296db;
        display: block;
    }
    .title-color {
        color: #3ca2dd;
    }
    .bar_second_pink {
        width: 100%;
        margin-top: 44px;
        height: 1rem;
        background-color: #aa89bd;
        vertical-align: middle;
        line-height: 1rem;
    }
    .container-fluid {
        padding: 0 0;
        margin: 0 0;
    }
    .color-white {
        color: white;
        display: inline-block;
        margin-top: 0.3rem;
        margin-bottom: auto;
        line-height: 100%;
        vertical-align: top;
    }
    .bar-white-home {
        margin-left: 0.1rem;
        margin-top: 0.32rem;
    }
    .bar-white-card {
        margin-left: 0.2rem;
        margin-top: 0.32rem;
    }
    .text-inline {
        display: inline-block;
    }
    .color-white-img {
        width: 0.5rem;
        height: 0.5rem;
    }
    .color-white-img-home {
        margin-left: 1rem;
    }
    .color-white-img-card {
        margin-left: 4.5rem;
    }
    .home_tab_div_left_color {
        background-color: #ff9db4;
        color: #ffffff;
    }
    .home_tab_div_right_color {
        background-color: #a4a3a3;
        color: #333333;
    }
    .home_tab_div_left {
        padding: 0 0;
        width: 49%;
        margin-left: -3px;
        height: 100%;
        line-height: 1rem;
        text-align: center;
        vertical-align: middle;
        border: none;
    }
    .home_tab_div_right {
        margin-left: -3px;
        width: 49.9%;
        height: 100%;
        line-height: 1rem;
        vertical-align: middle;
        text-align: center;
        border: none;
    }
    .home_tab_div {
        padding: 0 0;
        width: 100%;
        height: 1rem;
        margin-top: 0.55rem;
        text-align: center;

    }
    .text_inline {
        display: inline-block;
        vertical-align: middle;
    }
    .form-control-a {
        width: 6rem;
        background: url("../../../vendor/images/zsx/back_bottom_red.png");
        text-indent: 6px;
    }
    .bts-magin-a {
        width: 100%;
        margin: 20px auto 0px auto;
        text-align: center;
    }
    .btn-search {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 3px;
        border-radius: 3px;
    }
    .confirm-nav-btn {
        width: 3rem;
        background-color: #89c997;
        padding: 5px 10px;
        color: white;
        border-radius: 5px;
        margin-left: 0.2rem;
        margin-top: 0.5rem;
    }
    .confirm-a {
        vertical-align: middle;
    }
    .confirm-div {
        width: 100%;
        text-align: center;
        margin-top: 1rem;
        position: fixed;
        padding-bottom: 0.5rem;
        bottom: 0;
        left: 0;
        display: block;
        background-color: white;
    }
    .wb_btn_img {
        width: 0.6rem;
        height: 0.6rem;

    }
    .wb_second_line {
        margin-top: 0.5rem;
        text-align: center;
    }
    .wb_second_line_qw {
        margin-left: 1rem;
    }
    .content-list-div {
        width: 100%;
    }
    .content-list-div-a {
        width: 100%;
        text-align: center;
    }
    .content-list-div-table {

        width: 100%;
        margin-top: 2px;
        border-collapse:separate;
        border-spacing:0px 3px;

    }
    .img-minus {
        width: 0.5rem;
        height: 0.5rem;
    }

    .tb_content_a {
        background-color: #7ff7fb;
        height: 1rem;
    }
    .tb_content_b {

        background-color: #eeeeee;
        height: 2rem;
        vertical-align: middle;
        text-align: left;
        vertical-align: middle;
    }
    .tb_content_c {
        padding-top: 0.45rem;
        height: 2rem;
        background-color: #fdfcfd;
        vertical-align: middle;
    }
    .tb_content_b > td {
        text-align: center;
        padding-top: 0.6rem;
    }
    .tb_content_c > td {
        text-align: center;
        padding-top: 0.6rem;
    }
    .tb_content_a > td {
        text-align: center;
        padding-top: 0.2rem;
    }
    .tb_content_td_a {
        padding-left: 0.2rem;
    }


    .modal-dialog {
        margin-top: 4rem;
        border: none;
    }

    .modal {
        background-color: transparent;
        border: none;
    }
    .modal-header{
        background-color: #333333;
        color:white;
        border: none;
    }
    .modal-title{
        color:white;
    }
    .btn-primary{
        background-color: #89c997;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-color:#89c997 ;
    }
    .btn-warning{
        background-color: #89c997;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-color:#89c997;
        margin-left: 1rem;
    }
    .modal-footer{
        text-align: center;
        background-color: #abadab;
        border: none;

    }
    .modal-content{
        border: none;
    }
    .model-margin-top{
        margin: 0.3rem 0.01rem;
    }


</style>
<div>
    <div class="bar bar-header bar-light bar-light-div">
        <button  ng-click="goBack()" class="button-clear"><img src="../../../vendor/images/zsx/back_blue.png"></button>
        <h1 class="title"><span class="title-color">工单(NO:{{carInfo.customer_id}})</span></h1>
    </div>
    <div class="bar_second_pink">
        <img class="color-white color-white-img color-white-img-home" src="../../../vendor/images/zsx/car_person.png">
        <div class="color-white bar-white-home">{{carInfo.cz}}</div>
        <img class="color-white color-white-img color-white-img-card" src="../../../vendor/images/zsx/car_yellow.png">
        <div class="color-white bar-white-card">{{carInfo.cardName}}</div>
    </div>
    <div class="wb_second_line">
        <div class="text_inline">公里数:8000</div>
        <div class="text_inline"><img class="text_inline wb_btn_img" src="../../../vendor/images/zsx/edit.png"/></div>
        <div class="text_inline wb_second_line_qw">期望提车时间：2018-05-16</div>
        <div class="text_inline"><img class="text_inline wb_btn_img" src="../../../vendor/images/zsx/edit.png"/></div>
    </div>
    <div class="bts-magin-a">
        <div class="input-group-a">
            <div class="text_inline">故障描述：</div>
            <div class="text_inline">
                <input class="form-control-a" type="text" placeholder="请输入"/>
            </div>
            <img class="text_inline wb_btn_img" src="../../../vendor/images/zsx/edit.png">

        </div>
        <!-- /input-group -->
    </div>
    <!-- /.col-lg-6 -->
    <div class="home_tab_div">
        <div class="text_inline home_tab_div_left {{showSelectMore==0?'home_tab_div_left_color':'home_tab_div_right_color'}}"
             ng-click="showMoreView(0)">项目
        </div>
        <div class="text_inline home_tab_div_right  {{showSelectMore==1?'home_tab_div_left_color':'home_tab_div_right_color'}}"
             ng-click="showMoreView(1)">配件
        </div>

    </div>
    <!-- 项目-->
    <div class="content-list-div" ng-show="showSelectMore==0">
        <div class="text_inline content-list-div-a">
            <table class="content-list-div-table">

                <tr class="tb_content_a">
                    <td></td>
                    <td>项目名称</td>
                    <td>性质</td>
                    <td>修理费</td>
                    <td>优惠</td>
                    <td></td>
                </tr>
                <tr class="tb_content_b" ng-repeat="item in repairDataList">
                    <td class="tb_content_td_a">{{$index+1}}</td>
                    <td>{{item.xlxm}}</td>
                    <td>{{item.wxgz}}</td>
                    <td>{{item.xlf}}</td>
                    <td>{{item.zk}}</td>
                    <td style="padding-bottom: 0.3rem;padding-top:0.3rem"><img ng-click="deleteItem($index,item)" class="img-minus" src="../../../vendor/images/zsx/minus_img.png"/>
                        <br/>
                        <img ng-click="editProjectForXm(item)" class="img-minus" src="../../../vendor/images/zsx/edit.png"/></td>
                </tr>


            </table>

        </div>
        <div class="text_inline content-list-div-a">
            <table class="content-list-div-table">
                <tr class="tb_content_a">
                    <td>工时：{{xlfTotal}}</td>
                    <td></td>
                    <td>总计：{{xlfTotal}}</td>
                </tr>
                <tr class="tb_content_c">
                    <td>工时打折</td>
                    <td></td>
                    <td>{{numZk}}</td>
                </tr>

            </table>


        </div>
        <div class="text_inline content-list-div-a">
            <table class="content-list-div-table">
                <tr class="tb_content_a">
                    <td>总应收</td>
                    <td></td>
                    <td>总计：￥{{xlfTotal}}</td>
                </tr>
                <tr class="tb_content_c">
                    <td>备注</td>
                    <td></td>
                    <td>{{numZk}}</td>
                </tr>

            </table>

        </div>


    </div>


    <div class="confirm-div"  ng-show="showSelectMore==0">
        <div class="text-inline confirm-a confirm-nav-btn">
            钣金喷漆
        </div>
        <div class="text-inline confirm-a confirm-nav-btn" ng-click="toProjectFactory()">
            项目库
        </div>
        <div class="text-inline confirm-a confirm-nav-btn" ng-click="addTempProject()">
            临时项目
        </div>
        <div class="text-inline confirm-a confirm-nav-btn">
            本车首页
        </div>
        <div class="text-inline confirm-a confirm-nav-btn">
            派&#12288;工
        </div>
        <div class="text-inline confirm-a confirm-nav-btn">
            结&#12288;算
        </div>
    </div>





<!-- 配件-->
    <div class="content-list-div" ng-show="showSelectMore==1">
        <div class="text_inline content-list-div-a">
            <table class="content-list-div-table">

                <tr class="tb_content_a">
                    <td></td>
                    <td>配件名称</td>
                    <td>规格</td>
                    <td>数量</td>
                    <td>单价</td>
                    <td>合计</td>
                    <td></td>
                </tr>
                <tr class="tb_content_b" ng-repeat="item in pjDataList">
                    <td class="tb_content_td_a">{{$index+1}}</td>
                    <td>{{item.pjmc}}</td>
                    <td>{{item.pjbm}}</td>
                    <td>{{item.sl}}</td>
                    <td>{{item.ssj}}</td>
                    <td>{{(item.sl*item.ssj)}}</td>
                    <td><img ng-click="deletePjItem($index,item)"  class="img-minus" src="../../../vendor/images/zsx/minus_img.png"/></td>
                </tr>


            </table>

        </div>
        <div class="text_inline content-list-div-a">
            <table class="content-list-div-table">
                <tr class="tb_content_a">
                    <td>配件</td>
                    <td></td>
                    <td><span>总计：</span><span>{{pjTotal}}</span></td>
                </tr>
                <tr class="tb_content_c">
                    <td>配件打折</td>
                    <td></td>
                    <td>-0.0</td>
                </tr>

            </table>


        </div>
        <div class="text_inline content-list-div-a">
            <table class="content-list-div-table">
                <tr class="tb_content_a">
                    <td>总应收</td>
                    <td></td>
                    <td><span>总计：</span><span>{{pjTotal}}</span></td>
                </tr>
                <tr class="tb_content_c">
                    <td>备注</td>
                    <td></td>
                    <td>-0.0</td>
                </tr>

            </table>

        </div>


    </div>


    <div class="confirm-div"  ng-show="showSelectMore==1">

        <div class="text-inline confirm-a confirm-nav-btn" ng-click="toPjkSelect()">
            配件库
        </div>

        <div class="text-inline confirm-a confirm-nav-btn">
            本车首页
        </div>

        <div class="text-inline confirm-a confirm-nav-btn">
            结&#12288;算
        </div>
    </div>
    <div ng-show="showAllPro" class="div-all-page">



    </div>

</div>




<script type="text/ng-template" id="modal2.html">
    <div class="modal-top" align="center">
        <div class="modal-header">
            <h4 class="modal-title" align="center">
                确认
            </h4>
        </div>
        <div class="modal-body">
            <div style="text-align: left;margin-left: 2rem">

                <div><span>确定删除</span><span>{{data.wxgz}}</span></div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="cancel()" >
                取消
            </button>
            <button class="btn btn-warning" ng-click="ok(data)" style="margin-left: 2rem">
               确定
            </button>
        </div>
    </div>
</script>




<script type="text/ng-template" id="modal3.html">
    <div class="modal-top" align="center">
        <div class="modal-header">
            <h4 class="modal-title" align="center">
               修改项目
            </h4>
        </div>
        <div class="modal-body">
            <div style="text-align: left;margin-left: 1rem">

                <div class="model-margin-top"><div style="display: inline-block;vertical-align: middle;">项&#12288;&#12288;目:</div><div style="display: inline-block;vertical-align: middle;"><input  style="width: 6rem;background-color: lightgray;margin-left: 1rem" type="text" ng-model="xlxm"/></div></div>
                <div class="model-margin-top"><div style="display: inline-block;vertical-align: middle;">维修工作:</div><div style="display: inline-block;vertical-align: middle;"><input  style="width: 6rem;background-color: lightgray;margin-left: 1rem" type="text" ng-model="wxgz"/></div></div>
                <div class="model-margin-top"><div style="display: inline-block;vertical-align: middle;">价&#12288;&#12288;格:</div><div style="display: inline-block;vertical-align: middle;"><input style="width: 6rem;background-color: lightgray;margin-left: 1rem" type="text" ng-model="xlf"/></div></div>
                <div class="model-margin-top"><div style="display: inline-block;vertical-align: top;">保存新价格:</div><div style="display: inline-block;vertical-align: top;"><input type="checkbox" style="width:0.5rem;height:0.5rem;margin-left: 0.7rem" ng-model="isNewPrice"/></div></div>

            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="cancel()" >
                取消
            </button>
            <button class="btn btn-warning" ng-click="ok(xlxm,wxgz,xlf)" style="margin-left: 2rem">
                确定
            </button>
        </div>
    </div>
</script>









<script type="text/ng-template" id="modal5.html">
    <div class="modal-top" align="center">
        <div class="modal-header">
            <h4 class="modal-title" align="center">
                增加临时项目
            </h4>
        </div>
        <div class="modal-body">
            <div style="text-align: left;margin-left: 1rem">

                <div class="model-margin-top"><div style="display: inline-block;vertical-align: middle;">项目名称:</div><div style="display: inline-block;vertical-align: middle;"><input  style="width: 6rem;background-color: lightgray;margin-left: 1rem" type="text" ng-model="tempData.mc"/></div></div>
                <div class="model-margin-top"><div style="display: inline-block;vertical-align: middle;">维修成本:</div><div style="display: inline-block;vertical-align: middle;"><input  style="width: 6rem;background-color: lightgray;margin-left: 1rem" type="text" ng-model="tempData.wxcb"/></div></div>
                <div class="model-margin-top"><div style="display: inline-block;vertical-align: middle;">项目价格:</div><div style="display: inline-block;vertical-align: middle;"><input style="width: 6rem;background-color: lightgray;margin-left: 1rem" type="text" ng-model="tempData.xmjg"/></div></div>
                <div class="model-margin-top"><div style="display: inline-block;vertical-align: top;">项目类别:</div><div style="display: inline-block;vertical-align: top;">
                    <select style="width: 6rem;background-color: lightgray;margin-left: 1rem" ng-model="tempData.xmlb">
                        <option ng-repeat="item in firstIconArr">{{item.wxgz}}</option>


                    </select>
                </div></div>

            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="cancel()" >
                取消
            </button>
            <button class="btn btn-warning" ng-click="ok(tempData)" style="margin-left: 2rem">
                确定
            </button>
        </div>
    </div>
</script>







<script type="text/ng-template" id="modal4.html">
    <div class="modal-top" align="center">
        <div class="modal-header">
            <h4 class="modal-title" align="center">
                修改项目
            </h4>
        </div>
        <div class="modal-body">
            <div style="text-align: left;margin-left: 1rem">

                <div class="model-margin-top"><div style="display: inline-block">&#12288;项&#12288;&#12288;目:</div><div style="display: inline-block"><input  style="width: 6rem;background-color: lightgray;margin-left: 1rem" type="text" ng-model="xlxm"/></div></div>
                <div class="model-margin-top"><div style="display: inline-block">&#12288;维修工作:</div><div style="display: inline-block"><input  style="width: 6rem;background-color: lightgray;margin-left: 1rem" type="text" ng-model="wxgz"/></div></div>
                <div class="model-margin-top"><div style="display: inline-block">&#12288;价&#12288;&#12288;格:</div><div style="display: inline-block"><input style="width: 6rem;background-color: lightgray;margin-left: 1rem" type="text" ng-model="xlf"/></div></div>
                <div class="model-margin-top"><div style="display: inline-block">保存新价格:</div><div style="display: inline-block"><input type="checkbox" style="width:10px;height:10px" checked="isNewPrice" ng-model="isNewPrice"/></div></div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="cancel()" >
                取消
            </button>
            <button class="btn btn-warning" ng-click="ok(xlxm,wxgz,xlf,isNewPrice)" style="margin-left: 2rem">
                确定
            </button>
        </div>
    </div>
</script>