<style>

    .bdd_adver_header {
        overflow: hidden;
    }

    .bdd_company_body {
        margin-top: 180px;
    }

    .text-inline {
        display: inline-block;
        color: #666;
        font-size: 14px;
        margin-left: 10px;
        letter-spacing: 1px;

    }

    .text-inline-first {
        margin-left: 78px;
    }

    .bdd-pb-more {
        cursor: default;
    }

    .text-inline-second {
        margin-top: 20px;
        padding-left: 38px;
    }

    .bdd_un_active {
        border-bottom: 2px solid #cea63f;
    }

    .bdd_announcement_mess {
        padding-left: 20px;
        margin-left: 100px;

    }

    .bdd_announcement_left {
        cursor: default;
    }

    .bdd_announcement {
        background: #ffffff;
    }

    .text-inline-more {
        border-bottom: 1px solid #ccc;

    }

    .text-inline-more {
        padding: 1px 2px;
        border: 1px solid #ccc;

    }

    .span-cursor-a {
        width: 200px;
        text-align: left;
    }

    .bdd-pb-more-c {
        width: 980px;
        padding-left: 22px;
    }

    .bdd_content_h {
        margin-top: 10px;
    }

    .bdd_content_k {
        margin-top: 0px;
    }

    .bdd_text_vib_a {
        margin-top: 10px;
    }

    .bdd_content-inline {
        display: inline-block;
        width: 1020px;
    }

    .bdd_tender_inline {
        display: inline-block;
    }

    .dropdown-div-border {
        margin-left: 5px;
    }

    .dropdown-div-more {
        margin-left: 20px;
    }

    .bdd_tender_a {
        width: 1060px;
    }

    .bdd_comp_span_m {
        margin-left: 0px;
    }

    .bdd_dev_area_pro_a {
        width: 1120px;
    }

    .bdd_company_body {
        margin-top: 60px;
    }

    .bdd_area_header_select_line {
        background-color: #F5F3F3;
        z-index: 1009;
    }

    .current_menu_active_a_1, .current_menu_active_a_3, .current_menu_active_a_4, .current_menu_active_a_5 {
        color: white;
        border-bottom: none;

    }

    .current_menu_active_a_3 {
        color: #cea63f;
        border-bottom: 3px solid #cea63f;
    }

    .bdd_win_b {
        height: 140px;
    }

    .bdd_win_txt_a {
        color: #4d3a3a;
        font-size: 18px;
        font-weight: 700;
        padding-top: 20px;
    }

    .bdd_win_conter_b {
        width: 1200px;
        height: 140px;
        margin-top: 10px;
        border-right: 5px;
        background-color: white;
        padding-left: 20px;
    }
</style>

<!-- 原样式-->

<!--筛选框-->

<!--end-->

<div class="bdd_company_body">
    <div class="bg-color">
        <div class="bg-color-c">
            <div style="padding-top: 100px" class="bdd_comp_f">
                <div class="bdd_dev_area bdd_dev_area_txt">项目地区:</div>
                <div class="bdd_dev_area bdd_dev_area_pro bdd_dev_area_pro_a">
                    <div class="bdd_tender_inline bdd_tender_a">
                        <a class="{{$ctrl.province == null ? 'bdd_comp_span_all span-cursor span-yellow':'bdd_comp_span_all span-cursor'}}"
                           ng-click="$ctrl.cancelArea()">全部</a>

                        <div class="bdd_comp_span" ng-repeat="area in $ctrl.areaList">
                            <a class="{{$ctrl.province == area.name ? 'span-cursor span-yellow':'span-cursor'}}"
                               ng-bind="area.name|areaLimit"
                               ng-click="$ctrl.clickProvince(area)"></a>
                        </div>
                    </div>
                    <div class="bdd_comp_span bdd_comp_span_m">
                        <a class="span-cursor" id="to-pro-more"
                           ng-click="$ctrl.moreProvince($ctrl.morePro)">
                            <div class="to_more" ng-show="!$ctrl.morePro">更多</div>
                            <div class="to_more to_bottom" ng-show="!$ctrl.morePro"></div>
                            <div class="to_more" ng-show="$ctrl.morePro">收起</div>
                            <div class="to_more to_top" ng-show="$ctrl.morePro"></div>
                        </a>
                    </div>
                </div>
                <div id="more-pro" class="bdd_dev_area_pro_m" ng-show="$ctrl.morePro">
                    <div class="bdd_comp_span bdd_dev_area_pro_t" ng-repeat="area in $ctrl.areaList2">
                        <a class="{{$ctrl.province == area.name ? 'span-cursor span-yellow':'span-cursor'}}"
                           ng-bind="area.name|areaLimit"
                           ng-click="$ctrl.clickProvince(area)"></a>
                    </div>
                </div>
            </div>
            <div class="bdd_area_header_select_line"></div>
            <div class="bdd_comp_f">
                <div class="bdd_dev_area bdd_dev_area_txt">项目类别:</div>
                <div class="bdd_dev_area bdd_dev_area_pro bdd_dev_area_pro_a">
                    <div class="bdd_tender_inline bdd_tender_a">
                        <a class="{{$ctrl.showProType == null ? 'bdd_comp_span_all span-cursor span-yellow':'bdd_comp_span_all span-cursor'}}">全部</a>
                        <!--<a class="bdd_comp_span_all span-cursor span-yellow">全部</a>-->
                        <div class="bdd_comp_span">
                            <!--<a class="{{$ctrl.province==area.name?' span-cursor span-yellow':'span-cursor'}}"-->
                               <!--ng-bind="area.name|areaLimit"-->
                               <!--ng-click="$ctrl.clickProvince(area)"></a>-->
                            <a class="{{$ctrl.showProType=='市政工程'? 'span-cursor span-yellow':'span-cursor'}}" ng-click="$ctrl.clickProType('市政工程')">市政工程</a>
                            <a class="{{$ctrl.showProType=='房屋建筑'? 'span-cursor span-yellow':'span-cursor'}}" ng-click="$ctrl.clickProType('房屋建筑')">房屋建筑</a>
                            <a class="{{$ctrl.showProType=='其他'? 'span-cursor span-yellow':'span-cursor'}}" ng-click="$ctrl.clickProType('其他')">其他</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="bdd_area_header_select_line"></div>
            <div class="bdd_side_left_did">
                <div class="bdd_side_conter_do">
                    <div class="bdd_area_left">
                        <div class="bdd_area_content bdd_content_h bdd_content_t">已筛选条件：</div>
                        <div class="bdd_area_content bdd_text_vib bdd_text_vib_a" ng-if="$ctrl.province">
                            <div class="bdd_select bdd_font  bdd_font_color">
                                {{$ctrl.province}}&nbsp;&nbsp;&nbsp;&nbsp;<span
                                    ng-click="$ctrl.cancelArea()">×</span></div>
                        </div>
                        <div class="bdd_area_content bdd_text_vib bdd_text_vib_a" ng-if="$ctrl.showProType">
                            <div class="bdd_select bdd_font  bdd_font_color">
                                {{$ctrl.showProType}}&nbsp;&nbsp;&nbsp;&nbsp;<span ng-click="$ctrl.cancleProType()">×</span>
                            </div>
                        </div>
                        <div class="bdd_area_content bdd_text_vib bdd_text_vib_a">
                            <a href="javascript:void(0)" ng-click="$ctrl.cancelFilter()"
                               style="text-decoration: none"><span>&nbsp;&nbsp;&nbsp;&nbsp;清空</span></a>
                        </div>

                        <div class="bdd_side_news_val">
                            <div class="bdd_side_rihgt">综合排序</div>
                            <div class="bdd_side_rihgt_r">共找到 <span style="color:#cea63f"
                                                                    ng-bind="$ctrl.totalCount"></span> 家企业
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <div class="bdd_adver">
        <div id="bdd_adver_header" class="bdd_adver_header" infinite-scroll='$ctrl.nextPage()'
             infinite-scroll-disabled='{{$ctrl.busy}}' infinite-scroll-distance='1'>
            <div class="bdd_win_conter_b bdd_win_conter_list bdd_win_b" ng-repeat="project in $ctrl.projectList">
                <div class="bdd_win_txt_a">{{project.proName}}</div>
                <div style="overflow: hidden;color: #ccbebe;font-size: 16px;margin-top:13px;">
                    <div style="float: left">建设单位：{{project.proOrg}}</div>
                    <div style="float: left;margin-left: 40px;">项目地区：{{project.province}}- {{project.proWhere}}</div>
                </div>
                <div style="color: #d65588;font-size: 14px;background-color: #ffe5f0;width: 80px;text-align: center;margin-top: 15px;">
                    {{project.proType}}
                </div>


            </div>


            <div id="bdd_second_menu"
                 style="width: 150px;overflow:hidden;background-color: white;position: absolute;padding-left: 10px;">
                <div style="width: 150px;height: 25px;" ng-repeat="item in $ctrl.zzList"
                     ng-click="$ctrl.clickQual3(item,$ctrl.zzTwo,$ctrl.zzOne)">
                    <a class="a-point" ng-bind="item.name"></a>
                </div>
            </div>
        </div>
    </div>
</div>
