<link rel="stylesheet" href="../../../vendor/css/ioinc.min.css"/>
<style>
    * {
        margin: 0;
        padding: 0;
        border: 0;
    }

    .title-color {
        color: #3ca2dd;
    }

    .container-fluid {
        padding: 0 0;
        margin: 0 0;
    }
    a:link, a:visited, a:hover {
        color: #1296db;
        text-decoration: none;
    }
    input[type=text] {
        font-size: 1.3em;
    }
    input[type=number] {
        font-size: 1.3em;
    }
    button {
        font-size: 1.4em;
    }
    a:link, a:visited, a:hover {
        color: #1296db;
        text-decoration: none;
    }
    button {
        font-size: 1.4em;
    }
    .tabs {
        height: 1.4rem;
        font-size: 1.3em;
    }
    .content-list-div-table-a {
        width: 100%;
        background-color: #eeeeee;
        text-align: left;

    }
    .content-list-div-table-a > tbody > tr {

    }
    .tb_content_b > td {
        text-align: left;
        padding-top: 0.6rem;
    }
    .tb_content_c > td {
        text-align: center;
        padding-top: 0.6rem;
    }

    .tb_content_a > td {
        padding-top: 0.3rem;
    }
    .content-list-div-table-a > tbody > tr > td {
        padding: 0.3rem 0.3rem;
        font-size: 1.4em;
    }
    .content-list-div-content {
        background-color: #eeeeee;
        padding-left: 0.5rem;

        margin-top: 0.8rem;
    }
    .ss_second{
        width: 100%;
        margin-top: 55px;
        height: 2.4rem;
        background-color: #e7e6e6;
        
    }
    .ss_second_car{
        width: 2.5rem;
        height: 2.4rem;
        background: url("../../../vendor/images/zsx/car_bk_yel.png") no-repeat;
        background-size:2.5rem  2.4rem;
    }
    .ss_second_car_b{

        height: 2.8rem;
    }
    .ss_second_car_txt{
        margin-top: 1.9rem;
        margin-left: 0.55rem;
    }
    .text-inline{
        display: inline-block;
    }
</style>

<div>
    <div class="bar bar-header bar-light">

        <ion-header-bar align-title="left" class="bar-positive"
                        style="background-color: transparent;border-bottom: 1px solid blue">
            <div class="buttons" style="background-color: transparent">
                <button class="button" ng-click="goBackPage()" style="border: none;background-color: transparent;"><img
                        src="../../../vendor/images/zsx/back_blue.png"></button>
            </div>
            <h1 class="title"></h1>
            <div class="buttons">
                <button class="button" ui-sref="home">首页</button>
            </div>

        </ion-header-bar>
        <h1 class="title">领工</h1>
    </div>
    
    <div class="ss_second">
        <div class="ss_second_car text-inline">
            <div class="ss_second_car_txt">闽AGR788</div>
        </div>

        <div class="ss_second_car_b text-inline">
            <div class="ss_second_car_txt">闽AGR788</div>
        </div>
        
        
    </div>

    <div class="content-list-div-content" ng-repeat="item in dataArr">
        <table class="content-list-div-table-a">
            <tr>
                <td colspan="2">车架号码：{{item.cjhm}}</td>

            </tr>
            <tr>
                <td>车牌：{{item.cp}}</td>
                <td>结算单：{{item.jsd_id}}</td>
            </tr>
            <tr>
                <td>项目状态：{{item.states}}</td>
                <td>车型：{{item.cx}}</td>
            </tr>

            <tr>
                <td>维修工种：{{item.wxgz}}</td>
                <td>领工人员：{{item.assign}}</td>
            </tr>

            <tr>
                <td>指派人员：{{item.assign}}</td>
                <td>预完工：{{item.ywg_date}}</td>
            </tr>
            <tr>
                <td>维修人员：{{item.xlg}}</td>
                <td>修理项目：{{item.xlxm}}</td>
            </tr>

        </table>
    </div>

</div>


</div>


